.history{
  width: 80%;
  background:transparent; 
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
  border:1px  solid rgba(136,136,136 , 1);
 font-family: 'Segoe UI Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;;
  
}
html { overflow-y: scroll; }
body { 
  background: #f0f0f0; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
   font-size: 16px;
 
  line-height: 1; 
}

::selection { background: #a4dcec; }
::-moz-selection { background: #a4dcec; }
::-webkit-selection { background: #a4dcec; }

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;  
}

br { display: block; line-height: 2.2em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

#topbar {
  /*background: #4f4a41;*/
  padding: 10px 0 10px 0;
  text-align: center;
  height: 36px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
#topbar a {
  color: #fff;
  font-size: 16px;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}

/** typography **/

/** page structure **/
#w {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
}

#content {
  display: block;
  width: 100%;
  background: transparent;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#userphoto {
  height :200px;
  width: 200px;
  display: block;
  float: right;
  margin-left: 10px;
  margin-bottom: 8px;
  /*border-radius: 100%;*/

}
#userphoto img {
  display: block;
  padding: 2px;
  /*background: #fff;*/
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.4);*/
  border-radius: 10%;
}


/** profile nav links **/
#profiletabs {
  display: block;
  margin-bottom: 4px;
  height: 50px;
}

#profiletabs ul { list-style: none; display: block; width: 70%; height: 50px; }
#profiletabls ul li { float: left; }
#profiletabs ul li a { 
  display: block;
  float: left;
  padding: 8px 11px;
  font-size: 16px;
  font-weight: bold;
  background: #eae8db;
  color: #666;
  margin-right: 7px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
}
#profiletabs ul li a:hover {
  text-decoration: none;
  background: #dad7c2;
  color: #565656;
}

#profiletabs ul li a.sel {
  background: #fff;
  border-color: #d1cdb5;
}


/** profile content sections **/
/*.hidden {
  display: none;
}*/

.activity {
  border-bottom: 1px solid #d6d1af;
  padding-bottom: 4px;
}

.setting {
  display: block;
  color: white;
  /*font-weight: normal;*/
  padding: 7px 3px;
  border-top: 0.9px solid rgba(136,136,136 , 0.6);
  margin-bottom: 5px;
}
.setting span {
  float: left; 
  width: 250px;
  /*font-weight: bold;*/
}
.setting span img { 
  cursor: pointer;
}


#friendslist {
  display: block;
  font-size: font-size: 16px;;
  font-weight: bold;
}
#friendslist li { line-height: 30px; }
#friendslist li a {
  float: left;
  height: 30px;
  padding: 3px 6px;
  line-height: 22px;
   margin-right: 15px;
  border: 1px solid #c9d8b8;
}

#friendslist li a img { float: left; margin-right: 5px; }

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }