<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <head>
        <title>Complete registration</title>
        <meta charset = "utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/modern-business.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/parallexstyle.css">


      </head>



<body class="addDrug">

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Location of Pharmacies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Profile
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="#"> Pharmacy </a>
              <a class="dropdown-item" href="#"> User</a>
              <a class="dropdown-item" href="#"> Just in case</a>
                </div>
          </li>
            </div>
          </ul>
      </div>

  </nav>

<div class="container">
  <div class="col-md-4"></div>



  <div class="col-md-4">
    <h2>
    <a th:href="@{/complete}" >Done.... </a><br><a th:href="@{/location}" >go to Location </a>
  </h2>
<form class="signUpForm" th:action = "@{/drugs}" th:object = "${drugObj}" method="POST">

    <div class="form-group">
        <label for="Pharmacy name">Drug Name</label>
        <input type="text" class="form-control" th:field="*{Name}"/>
        <span class="text-danger"
        th:if="${#fields.hasErrors('Description')}"
        th:errors="*{Description}">Name Error</span>

    </div>

    <div class="form-group">
          <label for="Pharmacy name">Description</label>
          <input type="text" class="form-control"  th:field="*{Description}"/>
           <span class="text-danger"
      		th:if="${#fields.hasErrors('Description')}"
      		th:errors="*{Description}">Name Error</span>


    </div>

    <div class="form-group">
          <label for="Pharmacy name">Production Date</label>
          <input type="tel" class="form-control"  th:field="*{production_date}"/>
           <span class="text-danger"
          th:if="${#fields.hasErrors('production_date')}"
          th:errors="*{production_date}">Name Error</span>

    </div>

    <div class="form-group">
          <label for="Pharmacy name">Expire Date</label>
          <input type="text" class="form-control" th:field="*{expiration_date}"/>
           <span class="text-danger"
      		th:if="${#fields.hasErrors('expiration_date')}"
      		th:errors="*{expiration_date}">Name Error</span>

    </div>

    <div class="form-group">
          <label for="Pharmacy name">Amount</label>
          <input type="number" class="form-control" th:field="*{amount}"/>
           <span class="text-danger"
      		th:if="${#fields.hasErrors('amount')}"
      		th:errors="*{amount}">Name Error</span>

    </div>


    <div class="form-group">
          <label for="Pharmacy name">Price</label>
          <input type="number" class="form-control"  th:field="*{price}"/>
           <span class="text-danger"
          th:if="${#fields.hasErrors('price')}"
          th:errors="*{price}">Name Error</span>

    </div>

    <button type="submit" class="btn btn-warning">Submit</button>

  </form>
  </div>


<div class="col-md-4"></div>
</div>

<hr/>
<footer id="footer">
      <div class="container">
        <div class="row text-center">
          <p>&copy; PharmaC. All Rights Reserved.2018 </p>
        </div>
      </div>
    </footer>



    </body>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>
