<!doctype html>

<html>
	<head>
		<title> </title>
		<meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../css/custom.css"  type="text/css" >
		<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">

	</head>
	
	<script src="../js/jquery-1.10.2.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">

						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>

				</button>
					<div class="navbar-brand"></div>
			</div>

<div class="collapse navbar-collapse" id="mainNavBar">
	<ul class="nav navbar-nav">
		<li class="active"><a href="#"> Home </a> </li>
		<li> <a href="#"> Location of Pharmacies </a> </li>
    <li> <a href="#"> Contact us </a> </li>



				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">My profile <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li> <a href="#"> Pharmacy </a> </li>
							<li> <a href="#"> User </a> </li>
						</ul>
			 </li>

	</ul>

</div>
		</div>
	</nav>
  <div class="pimg1">
  		<div class="ptext">
  			<span class="border">
  			PharmaC
  			</span>
  		</div>
  	</div>
  		<section class="section section-dark">
  			<h2></h2>
  			<p>PharmaC is dedicated to providing up to date information to all pharmacy users in the city of Addis Ababa. We provide a platform that enables users to search needed medicines and provide the names and locations of pharmacies who have those medicines. Users can create accounts to get notifications of newly opened pharmacies and rate pharmacies. Pharmacists and pharmacy owners are encouraged to create accounts to update their data, evaluate their ratings and help their users save precious time and energy.</p>
  		</section>


  	<div class="pimg2">
  		<div class="ptext">
  			<span class="border">
  			Looking for a particular medicine?
  			</span>
  		</div>
  	</div>
  		<section class="section section-dark">
  			<h2></h2>
      <p> PharmaC is developed to help people like you. We save your time and energy by telling you where all the good medicines are stocked up. Click "looking for a particulat medicine?" if you are here to search for a pharmacy that has the medicine you need.</p>
  		</section>


  	<div class="pimg3">
  		<div class="ptext">
  			<span class="border">
  			Are you a pharmacist? or do you own a pharmacy?
  			</span>
  		</div>
  	</div>

  		<section class="section section-dark">
  			<h2></h2>
  			<p>Get your pharmaC account today to help your customers give you feedback about your service with their ratings. You can easily update your profile and simplify the lives of your users</p>
        <hr/>
        <div class="brn-btn">
                  <a href="#" class="btn btn-download">sign in</a>
                  <a href="pharmacySignUp" class="btn btn-download">sign up</a>
        </div>
  		</section>
  		
  	
  		
  		
 
</body>


</html>









