<!doctype html>

<html>
	<head>
		<title> </title>
		<meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../css/parallexstyle.css"  type="text/css" >
		<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
	</head>
	

<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark fixed-top">
					<div class="container">
						<a class="navbar-brand" href="index.html"></a>
						<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarResponsive">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" th:href="@{/}" >Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" th:href="@{/search/spe}">Search</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									My Profile
									</a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
										<a class="dropdown-item" th:href="@{/}"> Home </a>
										<a class="dropdown-item" th:href="@{/}"> User</a>
										<a class="dropdown-item" href="#"> 	<form method="POST" th:action="@{/logout}">
		<input type="submit" value="Logout"/>
	</form></a>
											</div>
								</li>
									</div>
								</ul>
						</div>
		
				</nav>
  <div class="pimg1">
  		<div class="ptext">
  			<span class="border">
  			PharmaC
  			</span>
  		</div>
  	</div>
  		<section class="section section-dark">
  			<h2></h2>
  			<p>PharmaC is dedicated to providing up to date information to all pharmacy users in the city of Addis Ababa. We provide a platform that enables users to search needed medicines and provide the names and locations of pharmacies who have those medicines. Users can create accounts to get notifications of newly opened pharmacies and rate pharmacies. Pharmacists and pharmacy owners are encouraged to create accounts to update their data, evaluate their ratings and help their users save precious time and energy.</p>
  		</section>


  	<div class="pimg2">
  		<div class="ptext">
  			<span class="border">
  			Looking for a particular medicine?
  			</span>
  		</div>
  	</div>
  		<section class="section section-dark">
  			<h2></h2>
      <p> PharmaC is developed to help people like you. We save your time and energy by telling you where all the good medicines are stocked up. Click "looking for a particulat medicine?" if you are here to search for a pharmacy that has the medicine you need.</p>
  		</section>


  	<div class="pimg3">
  		<div class="ptext">
  			<span class="border">
  			Are you a pharmacist? or do you own a pharmacy?
  			</span>
  		</div>
  	</div>

  		<section class="section section-dark">
  			<h2></h2>
  			<p>Get your pharmaC account today to help your customers give you feedback about your service with their ratings. You can easily update your profile and simplify the lives of your users</p>
        <hr/>
        <div class="brn-btn">
                  <a href="#" class="btn btn-download">sign in</a>
                  <a href="pharmacy" class="btn btn-download">sign up</a>
        </div>
  		</section>
  		
  	
  		
  		
    <script type="text/javascript"  src="../js/jquery.min.js"  th:src="@{/js/jquery.min.js}" ></script>
    <script type="text/javascript" src="../js/bootstrap.js" th:src="@{/js/bootstrap.js}" ></script>

 
</body>


</html>









