
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
		<head>
        <title> </title>
        <meta charset = "utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
	  </head>
	

	
<body class="signUpPage">

	<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">

						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>

				</button>
					<div class="navbar-brand"></div>
			</div>

<div class="collapse navbar-collapse" id="mainNavBar">
	<ul class="nav navbar-nav">
		<li><a href="index"> Home </a> </li>
		<li> <a href="#"> Location of Pharmacies </a> </li>
    <li> <a href="#"> Contact us </a> </li>



				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">My profile <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="active"> <a href="#"> Pharmacy </a> </li>
							<li> <a href="#"> User </a> </li>
						</ul>
			 </li>

	</ul>

</div>
		</div>
  </nav> -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark fixed-top">
					<div class="container">
						<a class="navbar-brand" href="index.html"></a>
						<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarResponsive">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" th:href="@{/}" >Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" th:href="@{/search/spe}">Search</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									My Profile
									</a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
										<a class="dropdown-item" th:href="@{/}"> Home </a>
										<a class="dropdown-item" th:href="@{/}"> User</a>
										<a class="dropdown-item" href="#"> 	<form method="POST" th:action="@{/logout}">
		<input type="submit" value="Logout"/>
	</form></a>
											</div>
								</li>
									</div>
								</ul>
						</div>
		
				</nav>


<!-- <div class="container">

<div class="col-md-4">
  </div>
<a th:href="@{/pharmacy}" >go to pharmacy </a><br><a th:href="@{/drugs}" >go to drugs </a>
  <div class="col-md-4">
<form class="signUpForm" th:action = "@{/location}" th:object = "${pharmacyBranch}" method="POST">

    <div class="form-group">
          <label for="Pharmacy name">Branch Name</label>
          <input type="text" class="form-control"  th:field="*{BranchName}"/>
           <span class="text-danger"
      		th:if="${#fields.hasErrors('BranchName')}"
      		th:errors="*{BranchName}">Name Error</span>
     
          
    </div>
     <div class="form-group">
          <label for="Pharmacy name">City</label>
          <input type="text" class="form-control"  th:field="*{city}"/>
           <span class="text-danger"
      		th:if="${#fields.hasErrors('city')}"
      		th:errors="*{city}">Name Error</span>
     
          
    </div>
     <div class="form-group">
          <label for="Pharmacy name">Sub City</label>
          <input type="text" class="form-control"  th:field="*{subcity}"/>
           <span class="text-danger"
      		th:if="${#fields.hasErrors('subcity')}"
      		th:errors="*{subcity}">Name Error</span>
     
          
    </div>
    <div class="form-group">
          <label for="Pharmacy name">Kebele</label>
          <input type="text" class="form-control" th:field="*{kebele}"/>
           <span class="text-danger"
      		th:if="${#fields.hasErrors('kebele')}"
      		th:errors="*{kebele}">Name Error</span>
     
    </div>


    <div class="form-group">
          <label for="Pharmacy name">Official Phone Number</label>
          <input type="tel" class="form-control"  th:field="*{branch_office_phone_no}"/>
           <span class="text-danger"
      		th:if="${#fields.hasErrors('branch_office_phone_no')}"
      		th:errors="*{branch_office_phone_no}">Name Error</span>
     
    </div>
   
    <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-warning">Submit</button>

  </form>
</div>
</div> -->

<!-- <hr/>
<footer id="footer">
      <div class="container">
        <div class="row text-center">
          <p>&copy; PharmaC. All Rights Reserved.2018 </p>
        </div>
      </div>
    </footer> -->

  
<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8">
        <form class="signUpForm" th:action = "@{/location}" th:object = "${pharmacyBranch}" method="POST">
          <div class="row justify-content-between py-3">
              <span><a th:href="@{/pharmacy}" class="text-warning" th:text="${mssage}">&nbsp;  </a></span><span><a th:href="@{/pharmacy}" class="text-warning" >Go Back to pharmacy</a></span><span><a th:href="@{/drugs}" class="text-warning" >Go To Drugs Page</a></span>
          </div>
          <div class="form-group">
                <label for="Pharmacy name">Branch Name</label>
                <input type="text" class="form-control"  th:field="*{BranchName}"/>
                 <span class="text-danger"
                th:if="${#fields.hasErrors('BranchName')}"
                th:errors="*{BranchName}">Name Error</span>
           
                
          </div>
           <div class="form-group">
                <label for="Pharmacy name">City</label>
                <input type="text" class="form-control"  th:field="*{city}"/>
                 <span class="text-danger"
                th:if="${#fields.hasErrors('city')}"
                th:errors="*{city}">Name Error</span>
           
                
          </div>
           <div class="form-group">
                <label for="Pharmacy name">Sub City</label>
                <input type="text" class="form-control"  th:field="*{subcity}"/>
                 <span class="text-danger"
                th:if="${#fields.hasErrors('subcity')}"
                th:errors="*{subcity}">Name Error</span>
           
                
          </div>
          <div class="form-group">
                <label for="Pharmacy name">Kebele</label>
                <input type="text" class="form-control" th:field="*{kebele}"/>
                 <span class="text-danger"
                th:if="${#fields.hasErrors('kebele')}"
                th:errors="*{kebele}">Name Error</span>
           
          </div>
      
      
          <div class="form-group">
                <label for="Pharmacy name">Official Phone Number</label>
                <input type="tel" class="form-control"  th:field="*{branch_office_phone_no}"/>
                 <span class="text-danger"
                th:if="${#fields.hasErrors('branch_office_phone_no')}"
                th:errors="*{branch_office_phone_no}">Name Error</span>
           
          </div>
         
     
          <button type="submit" class="btn btn-warning float-right">Submit</button>
      
        </form>
    </div>
  </div>
  <div class="footer row justify-content-center my-3">
      <div class="col-6">
        <p class="text-center">&copy;PharmaC 2019</p>
      </div>
    </div>
</div>
 
     <script type="text/javascript"  src="../static/js/jquery.min.js"  th:src="@{/js/jquery.min.js}" ></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}" ></script>
    </body>

</html>
